html,
body {
  height: 100%;
}
body {
  background: #1fa2ff;
  background: linear-gradient(to right, #a6ffcb, #12d8fa, #1fa2ff);
}

.container-frame {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
  width: 615px;
  position: relative;
}

#painting {
  border: 0px solid pink;
  position: absolute;
  left: 92px;
  top: 92px;
  width: 431px;
  height: 431px;
  overflow: hidden;
  background-color: #1fa2ff;
  background-image: url(img/bg_metal.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.rotate {
  animation: rotation 2s infinite linear;
  /* border: 1px solid pink; */
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
